# Build
/build/
/app/build/
/.gradle/
/captures/

# Local configuration file (SDK path, etc)
local.properties

# IntelliJ / Android Studio
/.idea/
/*.iml

# Logs
*.log

# MacOS
.DS_Store

# APK / AAB
*.apk
*.ap_
*.aab

# Kotlin
*.kotlin_module

# Google Services (API keys)
google-services.json
