<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BillManager">

        <!-- Broadcast Receiver -->
        <receiver
            android:name=".utils.ReminderReceiver"
            android:exported="false" />

        <!-- MAIN / LAUNCHER -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Prediction -->
        <activity
            android:name=".ui.prediction.PredictionActivity"
            android:exported="false" />

        <!-- Budget -->
        <activity
            android:name=".ui.budget.BudgetActivity"
            android:exported="false" />

        <!-- Notification -->
        <activity
            android:name=".ui.notification.HomeNotificationsActivity"
            android:exported="false" />

        <!-- Settings -->
        <activity
            android:name=".ui.setting.NotificationSetting"
            android:exported="false" />

    </application>

</manifest>
